<div class="class-page" style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">CS212 - Queens College</h1>
            </div>
        </div>
    </div>
    <div class="container class-info">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="professor">
                            <img src="https://s3-us-west-2.amazonaws.com/garpsalesforcepublic/Event_Speaker__c/a2f400000001RHNAA2/a2r4000000063VuAAI_ARMC2017ClaudioAlbanese060816.jpg" alt="Professor" class="img-responsive">
                            <figcaption>
                                <h2>Simon Says, PhD</h2>
                                <p>Welcome to CS212!</p>
                            </figcaption>
                        </figure>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Course Materials</h3>
                        <ul>
                          <li><a href="">Syllabus</a></li>
                          <li><a href="">Awesome Handout 1</a></li>
                          <li><a href="">Problem Set 1</a></li>
                          <li><a href="">Problem Set 2</a></li>
                          <li><a href="">Practice Exam 1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-8 qa">
                <h2 class="qa-heading">Recent Questions</h2>
                <div class="row message">
                  <div class="message-user col-xs-3 col-sm-2">
                    <a href="#">
                      <img class="img-responsive img-circle" src="./images/students/billy-bob.jpg" alt="Student">
                    </a>
                    <div class="message-user-name">Billy Bob</div>
                    <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                            
                  </div>
                  <div class="message-body col-xs-9 col-sm-10">
                    <h4 class="body-heading">Java?!</h4>
                    <p class="body-content">What does it mean to instantiate a class?</p>
                    <form>
                      <div class="form-group">

                        <div class="collapse" id="reply1"><textarea  style="display: block; width: 100%;"></textarea></div>
                      </div>
                      <a class="btn btn-success answer-btn pull-right" data-toggle="collapse" href="#reply1">Reply</a>
                    </form>
                    <script>
                      $(document).ready(function(){
                        
                      });
                    </script>
                    <div class="responses" style="clear:both;">
                      <div class="response row">
                        <blockquote class="col-xs-11 response-body">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus neque quia maiores ducimus veritatis error temporibus fugiat, molestiae cupiditate, consectetur alias! Possimus totam molestias ad ipsa amet saepe minima expedita.
                          <cite class="text-right response-citation" style="display: block; margin-top: 5px">-- Student Name</cite>
                        </blockquote>
                      </div>
                      <div class="response row">
                        <blockquote class="col-xs-11 response-body">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus neque quia maiores ducimus veritatis error temporibus fugiat, molestiae cupiditate, consectetur alias! Possimus totam molestias ad ipsa amet saepe minima expedita.
                          <cite class="text-right response-citation" style="display: block; margin-top: 5px">-- Student Name</cite>
                        </blockquote>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="row message">
                  <div class="message-user col-xs-3 col-sm-2">
                    <a href="#">
                      <img class="img-responsive img-circle" src="./images/students/sue-clue.jpg" alt="Student">
                    </a>
                    <div class="message-user-name">Sue Clue</div>
                    <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                            
                  </div>
                  <div class="message-body col-xs-9 col-sm-10">
                    <h4 class="body-heading">What's the difference between a hash and a tree?</h4>
                    <p class="body-content">I'm all out of hugs for trees.</p>
                    <form>
                      <div class="form-group">
                        <div class="collapse" id="reply2"><textarea  style="display: block; width: 100%;"></textarea></div>
                      </div>
                      <a class="btn btn-success answer-btn pull-right" data-toggle="collapse" href="#reply2">Reply</a>
                    </form>
                    
                  </div>
                </div>
                <!-- <div class="row message">
                      <div class="message-user col-xs-3 col-sm-2">
                        <a href="#">
                          <img class="img-responsive img-circle" src="http://www.garp.org/www/newmedia/convention-2017/speaker-photos/ARMC2017_Timothy_Cuddihy_061616.jpg" alt="Student">
                        </a>
                        <div class="message-user-name">Student Name</div>
                        <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                      </div>
                      <div class="message-body col-xs-8 col-sm-9">
                        <h4 class="body-heading">Media heading</h4>
                        <p class="body-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus, fugiat. Quos laborum, quaerat nulla itaque vero distinctio vel a quam tempora ad. Nesciunt animi fugit dignissimos, perspiciatis, similique laudantium.</p>
                        <div class="row message message-nested">
                          <div class="message-user col-xs-3 col-sm-2">
                            <a href="#">
                              <img class="img-responsive img-circle" src="http://www.garp.org/www/newmedia/convention-2017/speaker-photos/ARMC2017_Timothy_Cuddihy_061616.jpg" alt="Student">
                            </a>
                            <div class="message-user-name">Student Name</div>
                            <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                          </div>
                          <div class="message-body col-xs-9 col-sm-10">
                            <h4 class="body-heading">Media heading</h4>
                            <p class="body-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus, fugiat. Quos laborum, quaerat nulla itaque vero distinctio vel a quam tempora ad. Nesciunt animi fugit dignissimos, perspiciatis, similique laudantium.</p>
                            
                          </div>
                          
                      </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- end message -->

</div>