<div class="class-page" style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Class Id - School Name</h1>
            </div>
        </div>
    </div>
    <div class="container class-info">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="professor">
                            <img src="https://s3-us-west-2.amazonaws.com/garpsalesforcepublic/Event_Speaker__c/a2f400000001RHNAA2/a2r4000000063VuAAI_ARMC2017ClaudioAlbanese060816.jpg" alt="Professor" class="img-responsive">
                            <figcaption>
                                <h2>Prof Name</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut perspiciatis odit quidem, magnam iste voluptatem totam maiores fugit officia quam animi quas. Delectus earum, aliquam dicta neque molestias ea quo?</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 qa">
                <h2 class="qa-heading">Question/Answer</h2>
                <div class="row message">
                  <div class="message-user col-xs-3 col-sm-2">
                    <a href="#">
                      <img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/garpsalesforcepublic/Event_Speaker__c/a2f400000001SBuAAM/a2r4000000065qLAAQ_JohnCoates.jpg" alt="Student">
                    </a>
                    <div class="message-user-name">Student Name</div>
                    <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                            
                  </div>
                  <div class="message-body col-xs-9 col-sm-10">
                    <h4 class="body-heading">Media heading</h4>
                    <p class="body-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus, fugiat. Quos laborum, quaerat nulla itaque vero distinctio vel a quam tempora ad. Nesciunt animi fugit dignissimos, perspiciatis, similique laudantium.</p>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <textarea id="exampleInputEmail1"></textarea>
                      </div>
                      <a class="btn btn-success answer-btn pull-right">Reply</a>
                    </form>
                    
                  </div>
                </div>
                <!-- <div class="row message">
                      <div class="message-user col-xs-3 col-sm-2">
                        <a href="#">
                          <img class="img-responsive img-circle" src="http://www.garp.org/www/newmedia/convention-2017/speaker-photos/ARMC2017_Timothy_Cuddihy_061616.jpg" alt="Student">
                        </a>
                        <div class="message-user-name">Student Name</div>
                        <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                      </div>
                      <div class="message-body col-xs-8 col-sm-9">
                        <h4 class="body-heading">Media heading</h4>
                        <p class="body-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus, fugiat. Quos laborum, quaerat nulla itaque vero distinctio vel a quam tempora ad. Nesciunt animi fugit dignissimos, perspiciatis, similique laudantium.</p>
                        <div class="row message message-nested">
                          <div class="message-user col-xs-3 col-sm-2">
                            <a href="#">
                              <img class="img-responsive img-circle" src="http://www.garp.org/www/newmedia/convention-2017/speaker-photos/ARMC2017_Timothy_Cuddihy_061616.jpg" alt="Student">
                            </a>
                            <div class="message-user-name">Student Name</div>
                            <div class="message-vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> | 
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>
                          </div>
                          <div class="message-body col-xs-9 col-sm-10">
                            <h4 class="body-heading">Media heading</h4>
                            <p class="body-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus, fugiat. Quos laborum, quaerat nulla itaque vero distinctio vel a quam tempora ad. Nesciunt animi fugit dignissimos, perspiciatis, similique laudantium.</p>
                            
                          </div>
                          
                      </div>
                </div>
            </div> -->
        </div>
    </div>
</div>