<div id="welcome-panel" class="hero text-center">
    <div class="container">
        <h1>Welcome to CUNYStack!</h1>
        <h3>Let's Begin! Please select your School, Subject, and Course ID..</h3>
        <div><span id="downchev1" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
        <div><span id="downchev2" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
        <div><span id="downchev3" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
    </div>
</div>
<div class="text-center m-y-3">
    <h1>Search</h1>
    <form class="form-horizontal m-y-3">
        <div class="form-group m-y-1">
            <label for="inputSchool" class="col-sm-2 control-label">School</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option selected="selected">Select Your School</option>
                    <option>City College</option>
                    <option>Hunter College</option>
                    <option>Brooklyn College</option>
                    <option>Queens College</option>
                    <option>New York College of Technology</option>
                    <option>College of Staten Island</option>
                    <option>John Jay</option>
                    <option>York College</option>
                    <option>Baruch College</option>
                    <option>Lehman College</option>
                    <option>Medgar Evers College</option>
                    <option>BMCC</option>
                    <option>QCC</option>
                    <option>LaGuardia Community College</option>
                    <option>Bronx Community College</option>
                    <option>Kingsbourough Community College</option>
                </select>
            </div>
        </div>
        <div class="form-group m-y-1">
            <label for="inputSubject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option selected="selected">Select Your Subject</option>
                    <option>Biology</option>
                    <option>Computer Science</option>
                    <option>English</option>
                    <option>History</option>
                    <option>Literature</option>
                    <option>Math</option>
                    <option>Philosophy</option>
                    <option>Physics</option>
                    <option>Political Science</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="form-group m-y-1">
            <label for="inputSubject" class="col-sm-2 control-label">Course ID</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Ex: cs111 -> '111' ">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container text-center m-y-3">
    <div class="row">
        <div class="col-md-6">
            <h3>What will you find?</h3>
            <div class="m-y-3">
                <p class="text-left"> Each course will consist of a comprehensive and easy to read Q and A section of questions
                    posted by students themselves, which can be answered by current students, students
                    from past semesters, or by the professor.</p>
                <p class="text-left">We also plan to allow students to access class specific resources (syllabus, required texts, handouts,
                    practice exams, etc...) which would be privided by either the students or the course professor.</p>
                <p class="text-left">Our goal is to provide students with a forum where they can ask class specific questions
                    and to provide an enviorment where students, past and current, can interact and learn from
                    one another.</p>
            </div>
        </div>
        <div class="col-md=6">
            <h3>Other Resources</h3>

        </div>

    </div>

</div>
