<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/util_spacing.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Nav Bar Begin -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/CUNY.jpeg" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Search <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Nav Bar End -->
</head>

<body>
    {{{body}}}
</body>

<footer class="bg-black">
    <div class="container">
        <div class="row m-y-3">
            <div class="col-md-4 col-xs-6 m-y-2">
                <p>Hawaiian Pizza FTW</p>
                <p>CUNY HACKATHON</p>
                <p>315 Hudson St, New York, NY 10013</p>
            </div>
            <div class="col-md-4 col-xs-6 m-y-2">
                <ul style="list-style:none;">
                    <li><a href="#">CUNY</a></li>
                    <li><a href="#">CUNY Startups</a></li>
                    <li><a href="#">IBM Watson</a></li>
                    <li><a href="#">Galvanize</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12 m-y-2">
                <a class="m-x-1" href="https://github.com/"><img src="/images/Github.png" alt="" /></a>
                <a class="m-x-1" href="https://www.reddit.com/r/programming/"><img src="/images/Reddit.png" alt="" /></a>
                <a class="m-x-1" href="http://stackoverflow.com/"><img src="/images/stackoverflow.png" alt="" /></a>
                <a class="m-x-1" href="https://slack.com/"><img src="/images/slack-logo-lg.png" alt="" /></a>
            </div>
        </div>
    </div>
</footer>


</html>
