.class-page {
  margin-top: 50px;
  padding: 1em;
}

.class-info {
  margin-top: 25px;
  margin-bottom: 25px;
}
.message {
  margin-top: 25px;
  padding: 20px;
  padding-left: 0;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.message-body > .body-heading {
  margin-top: 0;
}
.message-nested {
  max-width: 100%;
}

.message-user-name {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}
.message-vote {
  margin-top: 10px;
  text-align: center;
}

.professor img{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.qa-heading {
  margin-top: 0;
  text-align: center;
}


.response-body {
  font-size: .9em;
  padding-right: 3em;
  border-top: 3px solid #eee;
  border-left: none;
  margin-top: 25px;
}
.response-citation {
  padding-right: 3em;
}